@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


body {
    background-color: #0A1A5C;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFFFFF;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #ffffff;

}


.logo {
    font-size: 20px;
    font-weight: 700;
    color: #0A1A5C;
    text-decoration: none;
}


.nav-links {
    display: flex;
    gap: 28px;
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav-links a {
    text-decoration: none;
    color: #0A1A5C;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.2s ease;
}


.nav-links a:hover {
    color: #2563eb;
}

/* home page */

.hero {
    background-color: #0A1A5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    gap: 40px;
}

.hero-title {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
    text-align: left;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -1px;
}

.lost-btn {
    background-color: #FFFFFF;
    color: #0A1A5C;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
}

.found-btn {
    background-color: #0A1A5C;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid #FFFFFF;
}

.hero-text {
    flex: 1;
    max-width: 600px;
}

.hero-mascot {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-mascot img {
    max-width: 380px;
    width: 100%;
    height: auto;
    object-fit: contain;
}